# Node / React
front/node_modules/
front/dist/
front/.vite/
front/package-lock.json
front/yarn.lock
front/pnpm-lock.yaml
front/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET build artifacts
api/**/bin/
api/**/obj/

# IDE files
.vscode/
*.user
*.suo
*.swp
.DS_Store
